body {
  background-image: url('Polygon Luminary.svg');

}

small {
color: gray;

}

h1 {
color: #20b2aa;
text-align: center;

}

.align-mid {
text-align: center;


}

.custom-button-color {
    background-color: #20b2aa !important;
    color: #fff !important;
    border-color: #20b2aa !important;
}

.text-size-align {

    font-size: 24px;
    margin: 0px 220px;

}
.centered-container {
    display: flex;
    justify-content: center;
    align-items: centered;
min-height: 100vh;
}

.same-size-button {
    width: 240px;
    height: 55px;
}

.custom-btn {
    font-size: 16px;
}

.about{
    font-size: 16px;
    margin: 130px ;
background-color: white;

 }

.